{% macro post(post) %}
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex dark-mode flex-fill">
        <div class="timeline-body dark-mode">
            <div class="embed-responsive embed-responsive-16by9">



                <video controls  autoplay="false" class="embed-responsive-item">
                    <source src="{{ asset(post.getVideoPath()) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>



            </div>

        </div>
        <a href="{{ path('app_poste', {'id':post.id }) }}">
         <div class="card-footer dark-mode ">
            <div class="text-left">

                <div class="col-md-12 user-block">
                    <img alt="User Image" class="img-circle" src="{{ asset(post.gamer.getImagePath()) }}">
                    <span class="username"><h2 class="lead"><b>{{ post.gamer.getFullName()|capitalize}}</b></h2></span>
                </div>

            </div>
            <div class="text-left">
                <span class="description">{{ post.getContextSub()|capitalize}}</span>
            </div>

        </div>
        </a>
    </div>
    </div>
{% endmacro %}